@model object

<html>
<head>
    <title>ESI Sample</title>
</head>
<body>

<esi:include src="http://localhost:57780/header.html" />

<esi:include src="http://localhost:57780/product/123" />

<esi:include src="http://localhost:57780/footer.html" />

</body>
</html>