@model object

<html>
<head>
    <title>ESI Sample</title>
</head>
<body>

<esi:include src="/header.html" />

<esi:include src="/product/123" />

<esi:include src="/footer.html" />

<esi:try>
    <esi:attempt>
        ATTEMPT
        <esi:include src="/fail.html" />
    </esi:attempt>
    <esi:except>
        EXCEPT
    </esi:except>
</esi:try>

<esi:include src="/httpheaders" />

<esi:choose>
    <esi:when test="$(HTTP_HOST)=='example.com'">EXAMPLE</esi:when>
    <esi:when test="$(HTTP_HOST)=='localhost'">LOCAL</esi:when>
    <esi:otherwise>?</esi:otherwise>
</esi:choose>

</body>
</html>