@model object

<html>
<head>
    <title>ESI Sample</title>
</head>
<body>

<esi:include src="http://localhost:57780/header.html" />

<esi:include src="http://localhost:57780/product/123" />

<esi:include src="http://localhost:57780/footer.html" />

<esi:try>
    <esi:attempt>
        ATTEMPT
        <esi:include src="http://localhost:57780/fail.html" />
    </esi:attempt>
    <esi:except>
        EXCEPT
    </esi:except>
</esi:try>

</body>
</html>