@model object

<html>
<head>
    <title>ESI Sample</title>
</head>
<body>

<esi:include src="/header.html" />

<esi:include src="/product/123" />

<esi:include src="/footer.html" />

<esi:try>
    <esi:attempt>
        ATTEMPT
        <esi:include src="/fail.html" />
    </esi:attempt>
    <esi:except>
        EXCEPT
    </esi:except>
</esi:try>

</body>
</html>